/dist/
www/
loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

###> clubmaster ###
/clubmaster/.env.local
/clubmaster/.env.local.php
/clubmaster/.env.*.local
/clubmaster/config/secrets/prod/prod.decrypt.private.php
/clubmaster/public/bundles/
/clubmaster/var/
/clubmaster/vendor/
/clubmaster/.phpunit
/clubmaster/.phpunit.result.cache
/clubmaster/phpunit.xml

